@import '../VAR/variabl.scss';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {

    font-family: "Poppins", sans-serif;
}


.container {
    text-decoration: none;
    list-style: none !important;
    // height: 400vh;

    .row {

        // max-height: 1000px;
        .colRange {
            .smallTwo {
                display: flex;
                justify-content: end;
                margin-top: -22px;
            }

            .slider {
                height: 10px;
                width: 100%;
                background-color: #ddd;
                border-radius: 5px;
                margin-top: 10px;
                // position: fixed !important;

                .thumb {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: $offXhiteColor;
                    cursor: grab;
                    margin-top: -5px;
                    border: none !important;
                }
            }
        }

        .col-lg-9 {
            .row {
                .col-lg-8 {
                    .Search {
                        input {
                            background-color: $colorBackGround;
                            border-radius: 0 0 0;
                            border: 0 !important;
                            width: 600px !important;
                        }

                    }
                }

                .col-lg-3 {
                    .dropdown {
                        .dropdownA {
                            background-color: $colorBackGround;
                            height: 40px;
                        }
                    }
                }
            }

        }
    }

    .listSearch {
        width: 610px;
        position: relative;
        bottom:-3px;
        background-color: $white;
        flex-direction: column;
        justify-content: center;
        display: flex;
        margin-left: -5px;
        z-index: 9999;

        .productSearch {
            display: flex;
            margin-bottom: -35px;

            div {
                display: flex;
                justify-content: end;
                position: relative;
                bottom: 43px;
            }
        }

        a:hover {
<<<<<<< Updated upstream
            // background-color: $colorBackGround;
            background-color: green;
=======
            background-color: $colorBackGround;
            color: #e8ce8c;
>>>>>>> Stashed changes

        }
    }

}

@media (max-width: 992px) {
    .colSort {
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .cards {
        display: flex;
        justify-content: center;
    }
}

@media (0px <=width <=500px) {
    .listSearch {
        width: 459px !important;
        position: relative;
        bottom: 2043px !important;
        z-index: 9999;
        display: flex;

    }
}

@media (501px <=width <=576px) {
    .listSearch {
        // width: 459px !important;
        position: relative;
        bottom: 2043px !important;
        z-index: 9999;
        display: flex;

    }
}



@media (min-width:991px) {
    .list-group{
        position: fixed !important;
        width: 330px;
        margin-left: -70px;
        margin-top: 85px !important;
        
    }

    .slider{
        position: fixed !important;
        width: 21% !important;
        margin-left: -71px;
        margin-top: 50px !important;

    }
    .Range{
        position: fixed !important;
        margin-left: -71px;
        margin-top: 12px;

    }

    .smallTwo {
        position: fixed !important;
        margin-left: 223px;
        margin-top: 20px !important;
    }
    .smallOne{
        position:fixed !important ;
        margin-left: -73px;
        margin-top: 20px;

    }
}